<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>pub_835603aed3dd3b1c7457c7ec2465dc8877ff1</string>
	<key>baseURL</key>
	<string>https://newsdata.io/api/</string>
</dict>
</plist>
